.card {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  margin: 10px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  display: inline-block;
}

.card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}