body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

.stop-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;
}

.display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

.controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

.start-button {
    background-color: hsl(120, 82%, 54%);
}

.start-button:hover {
    background-color: hsl(110, 100%, 34%);
}

.stop-button {
    background-color: hsl(0, 82%, 54%);
}

.stop-button:hover {
    background-color: hsl(0, 82%, 34%);
}

.reset-button {
    background-color: hsl(191, 82%, 54%);
}

.reset-button:hover {
    background-color: hsl(191, 82%, 34%);
}